#elem {
    width: 300px;
    height: 200px;
    font-size: 25px;
    font-weight: bold;
    line-height: 200px;
    text-align: center;
    border: 3px solid rgb(6, 51, 10);
    border-radius: 50%;
}